[Install]
WantedBy=multi-user.target

[Unit]
Description=uWSGI server for ECCS2
After=network.target

[Service]
User=debian
Group=debian
WorkingDirectory=/opt/eccs2
RuntimeDirectory=/opt/eccs2
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
#Environment="PATH=/opt/eccs2/eccs2venv/bin"
ExecStart=/opt/eccs2/eccs2venv/bin/uwsgi --ini /opt/eccs2/eccs2.ini
